<section id="top">
	<div id="title">
		<div class="container-fluid">
		  <div class="row flex-items-xs-right">
				<div class="col-xs-12">
					<div id="head-slider" class="transistion">
						<h2 class="im-dan">
							<figure class="transistion">
								<img src="<%= asset_path('hello.png') %>">
							</figure>
						</h2>
						<p class="header-desc">I'm Dan, a full-stack web developer.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 902.29 545.97">
    <defs>
      <style>.cls-1{fill:#34A13D;}.cls-2{fill:#fff;}.cls-3{fill:#ffe133;}.cls-4{fill:none;stroke:#ffe133;stroke-linejoin:round;stroke-width:15.61px;stroke-dasharray:4.68 31.23;}</style>
        <filter id="dropShadow">
          <feGaussianBlur in="SourceAlpha" stdDeviation=".5" />
          <feOffset dx="-.75" dy="1" />
          <feMerge>
            <feMergeNode />
            <feMergeNode in="SourceGraphic" />
          </feMerge>
        </filter>
        <filter id="sunFilter">
          <feDiffuseLighting in="SourceGraphic" result="light" lighting-color="#bbbbbb">
            <fePointLight x="200" y="0" z="1" />
          </feDiffuseLighting>
          <feComposite in="SourceGraphic" in2="light" operator="arithmetic" k1="10" k2="10" k3="0" k4="0"/>
        </filter>
    </defs>
    <title>topScene</title>
		<path id="hill-2" class="cls-1" d="M75.6,477.32C17.35,477.32-32.14,528.6-50.18,600H201.38C183.34,528.6,133.84,477.32,75.6,477.32Z" transform="translate(50.18 -54.03)" />
		<path id="hill-3" class="cls-1" d="M208.16,477.32c-58.24,0-107.74,51.28-125.78,122.68H333.94C315.9,528.6,266.4,477.32,208.16,477.32Z" transform="translate(50.18 -54.03)" />
		<path id="hill-1" class="cls-1" d="M556.35,503.6C393,503.6,260.6,546.76,260.6,600H852.11C852.11,546.76,719.69,503.6,556.35,503.6Z" transform="translate(50.18 -54.03)" />
    <path id="cloud-2" class="cls-2" d="M247.54,247.61a41.13,41.13,0,0,0-13.11,2.24c-11.2-19.61-31.57-32.67-54.85-32.67-22.89,0-43,12.71-54.27,31.77a41.2,41.2,0,0,0-9.74-1.35c-23.85,0-43.19,20.4-43.19,45.4H290.72C290.72,268,271.39,247.61,247.54,247.61Z" transform="translate(50.18 -54.03)" />
    <path id="cloud-1" class="cls-2" d="M772.53,342.93a41,41,0,0,0-12.16,1.79,60.23,60.23,0,0,0-101.22-.86,41.19,41.19,0,0,0-9-.93C628,342.93,610.06,360,610.06,382H812.59C812.59,360,794.65,342.93,772.53,342.93Z" transform="translate(50.18 -54.03)" />
    <circle id="sun" class="cls-3" cx="702.58" cy="82.11" r="53.81" />
    <circle id="rays" class="cls-4" cx="702.58" cy="82.11" r="74.3"/>
  </svg>
</section>
<section id="about">
  <div class="container-fluid">
    <div class="row flex-items-xs-center flex-items-xs-middle">
      <div class="col-xs-12 col-md-4 col-xl-2">
        <div id="wrap1" class="cardWrapper">
          <div class="circle">
            <img class="cardFace front" id="guitar1" src="<%= asset_path('laptop-about.png') %>" />
            <img class="cardFace back" id="guitar1" src="<%= asset_path('smartphone.png') %>" />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-6 offset-lg-1">
        <h2>Responsive Front-end Development</h2>
        <p id="quote">Above all else, I have a passion for good design with a focus on typography, responsive layouts, and animation and images that improve the user experience and provide the most impact.
        </p>
      </div>
    </div>
    <div class="row flex-items-xs-center flex-items-xs-middle">
      <div class="col-xs-12 col-md-8 col-lg-6">
        <h2>It all starts on the backend</h2>
        <p id="quote">Even with a passion for front-end design, I realize how important the backend is to provide an optimal user experience. DevOps and web performance optimizations are crucial at all stages of development.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 col-xl-2">
        <div id="wrap2" class="cardWrapper">
          <div class="circle">
            <img class="cardFace front" id="guitar1" src="<%= asset_path('ps-icon.png') %>" />
            <img class="cardFace back" id="guitar1" src="<%= asset_path('ai-icon.png') %>" />
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-items-xs-bottom flex-items-xs-center">
      <div class="col-xs-8 col-md-6">
        <a href="https://registry.jsonresume.org/danielriley" class="btn btn-danger btn-block" role="button" target="_blank">Click to view my resume</a>
      </div>
    </div>
  </div>
</section>
<section id="portfolio1">
  <div class="container-fluid">
    <div class="row flex-items-xs-center">
      <div class="col-xs-6">
        <div class="card">
          <img class="img-fluid card-img-top" src="<%= asset_path("brewpubguru.png") %>" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Brewpub.guru</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <span>
              <a href="#" class="btn btn-primary btn-xl">Visit Site</a>
              <a href="#" class="btn btn-success btn-xl">View Repo</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="portfolio2">
  <div class="container-fluid">
    <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <img class="img-fluid card-img-top" src="<%= asset_path("freebox.png") %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">ViewBox</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <span>
            <a href="#" class="btn btn-primary btn-xl">Visit Site</a>
            <a href="#" class="btn btn-success btn-xl">View Repo</a>
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<section id="portfolio3">
  <div class="container-fluid">
    <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <img class="img-fluid card-img-top" src="<%= asset_path("tictactoe.png") %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Tic Tac Toe ActionCable</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <span>
            <a href="#" class="btn btn-primary btn-xl">Visit Site</a>
            <a href="#" class="btn btn-success btn-xl">View Repo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section id="portfolio4">
  <div class="container-fluid">
    <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <img class="img-fluid card-img-top" src="<%= asset_path("fortcollins.png") %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Fort Collins Adult Soccer League</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <span>
            <a href="#" class="btn btn-primary btn-xl">Visit Site</a>
            <a href="#" class="btn btn-success btn-xl">View Repo</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<script>
(function ($) {
  $(document).ready(function(){
    $(function () {
        $(window).scroll(function () {

                 // set distance user needs to scroll before we start fadeIn
            if ($(this).scrollTop() > 20) {
                $('#navbar').slideDown();
            } else {
                $('#navbar').slideUp();
            }
        });
    });
});
  }(jQuery));

  (function ($) {
    $(document).ready(function(){
      $(function () {
          $(".card").click(function () {
            var clicks = $(this).data('clicks');
            if (!clicks) {
              $(this).children(".card-block").slideDown();
            } else {
              $(this).children(".card-block").slideUp();
            }
            $(this).data("clicks", !clicks);
          });
       });
      });
    }(jQuery));

// Init ScrollMagic Scroll Spy
var ctrl = new ScrollMagic.Controller({
  globalSceneOptions: {
    triggerHook: 'onCenter',
    duration: 900
  }
});


$("section").each(function() {

  var name = $(this).attr('id');

  new ScrollMagic.Scene({
    triggerElement: this
  })
  .setClassToggle("#nav-"+name, "active")
  .addTo(ctrl);

});

var tlTop = new TimelineMax();

var sun = document.querySelector("#sun");
var rays = document.querySelector("#rays");
var h = document.querySelector("#top").clientHeight;
var w = document.querySelector("#top").clientWidth;
var pH = window.innerHeight;
var pW = window.innerWidth;
TweenMax.to(rays, 15, {rotation:360, transformOrigin:"50% 50%", ease:Linear.easeNone, repeat:-1});

if (window.matchMedia('(max-device-width: 960px)').matches) {
  TweenMax.set(sun, {scale:5.8, x: 200, y: -1000});
  TweenMax.set(rays, {scale:5.4, x: 400, y: -1080});
  TweenMax.set("#hill-2", {scale:10, x:-800});
  TweenMax.set("#cloud-1", {scale:4, x:400, y: -950});
  TweenMax.set("#cloud-2", {scale:4, x: -600, y: -1000});
  tlTop.to(sun, 1, {x: -300, autoAlpha: 1, force3D:true})
  .to(rays, 1, {x: -350, autoAlpha: 1, force3D:true})
  .to("#hill-2", .5, {y: -h*.4, autoAlpha: 1})
  .to("#cloud-1", .5, {x:-200, autoAlpha: 1})
  .to("#cloud-2", .5, {x: -400, autoAlpha: 1});
} else {
  TweenMax.set("#hill-1", {y: 200, x:-300, scaleX: 2, autoAlpha: 1});
  TweenMax.set("#hill-2", {y: 200, x:10, autoAlpha: 1});
  TweenMax.set("#hill-3", {y: 200, x:10, autoAlpha: 1});
  TweenMax.set("#cloud-1", {x: 200});
  TweenMax.set("#cloud-2", {x: -300});

  tlTop.to(sun, 1, {autoAlpha: 1, force3D:true})
  .to("#hill-1", 3, {ease: Bounce.easeInOut, y: -50, force3D:true}, 0)
  .to("#hill-2", 3, {ease: Bounce.easeInOut, y: -60, force3D:true}, 0)
  .to("#hill-3", 3, {ease: Bounce.easeInOut, y: -50, force3D:true}, 0)
  .to("#cloud-1", 1.5, {x: -60, autoAlpha: 1}, 2)
  .to("#cloud-2", 1.5, {x:100, autoAlpha: 1}, 2);
}

$(function() {

  var output = $('#rotation');
  function updateCard()
  {
    output.text(cardsArray[currentCard].prop('_gsTransform').rotationX);
  }

  TweenLite.set(".cardWrapper", {perspective:400});
  TweenLite.set(".back", {rotationX:180});
  TweenLite.set([".back", ".front"], {backfaceVisibility:"hidden"});

  var cardsArray = [
    $("#wrap1 .circle"),
    $("#wrap2 .circle")
  ];
  var pauseTime = 2;
  var currentCard = -1;

  TweenLite.delayedCall(pauseTime, workCardsRotation);

  function workCardsRotation()
  {
    currentCard++;
    if(currentCard>=cardsArray.length)
    {
      currentCard = 0;
    }
    TweenLite.to(cardsArray[currentCard], .5, {rotationX:-180, transformOrigin:"left 150px", transformStyle:"preserve-3d", ease: Power1.easeOut, onUpdate:updateCard});
    TweenLite.to(cardsArray[currentCard], .5, {rotationX:-360, transformOrigin:"left 150px", transformStyle:"preserve-3d", ease: Power1.easeOut, onUpdate:updateCard, delay:pauseTime, onComplete:resetCard});
  }

  function resetCard()
  {
    TweenLite.set(cardsArray[currentCard], {rotationX:0});
    TweenLite.delayedCall(pauseTime, workCardsRotation);
  }

});
</script>
